html {
  scroll-padding-top: 5rem;
}

body {
  background-color: var(--c-bg);
  color: var(--c-text);
  font-family: var(--font-sans);
  line-height: 1.7;
  transition:
    background-color 0.2s,
    color 0.2s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  
  /* 移动端安全区域适配 */
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
}

/* 滚动条样式 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #a3a3a3;
  border-radius: 3px;
}
html.dark ::-webkit-scrollbar-thumb {
  background-color: #404040;
}
::-webkit-scrollbar-thumb:hover {
  background: #737373;
}
html.dark ::-webkit-scrollbar-thumb:hover {
  background: #525252;
}

/* 深色模式下图片亮度微调 */
html.dark img {
  filter: brightness(0.85);
  transition: filter 0.3s ease;
}
html.dark img:hover {
  filter: brightness(1);
}
