@import 'modern-normalize/modern-normalize.css';
//theme
@import 'primereact/resources/themes/lara-light-indigo/theme.css';
//core
@import 'primereact/resources/primereact.min.css';
// @import 'primeicons/primeicons.css';

body {
  font-family: var(--font-family);
  background-color: #f1f2f9;
}

a {
  // color: initial;
  text-decoration: none;
}

.p-panel-header.p-panel-header {
  background-color: #fff;
}
