.DS_Store
node_modules
/dist
yarn.lock
backups
# local env files
.env.local
.env.*.local
/draft/*
!draft/README.md

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
backups
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*