*.py         text eol=lf
*.json         text eol=lf
*.ts         text eol=lf
*.js         text eol=lf
*.mjs         text eol=lf
*.md         text eol=lf
*.html         text eol=lf
*.astro         text eol=lf
*.yaml         text eol=lf
*.css         text eol=lf
