.details {
  padding: 24px;
  margin: 0 0 60px;
  background: #fff;
  border-radius: 6px;
}

.details-appreciate {
  text-align: center;
  margin: 24px 0;
}

.next-article {
  text-align: right;
}

.previous-article,
.next-article {
  a {
    margin-top: 6px;
    display: block;
  }
}
