.app {
  margin: 0 0 60px;
  ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
}

.app-img {
  display: flex;
  align-items: center;
  li:not(:last-child) {
    margin-right: 6px;
  }
}

.app-type {
  margin-right: 6px;
}
