.share {
  display: flex;
  list-style: none;
  padding-left: 0;
  justify-content: center;
  img {
    width: 24px;
    height: 24px;
  }
  li {
    &:not(:last-child) {
      margin-right: 6px;
    }
  }
}
