.layout-main {
  display: flex;

  margin: 60px 48px;
  align-items: flex-start;
}
.layout-content {
  flex: 1;
  padding: 0 24px;
}

.layout-left {
  background-color: #fff;
}

.layout-right {
  background: transparent;
  min-width: 12.5rem;
  max-width: 15rem;

  .p-panel-content {
    padding: 0;
  }
  ul {
    list-style: none;
    // padding-left: 0;
    padding: 24px 12px;
    margin: 0;
  }
  li:first-child {
    p {
      margin: 0;
    }
  }
  .p-panel {
    margin-bottom: 24px;
  }
}
.layout-left {
  text-align: center;
  border-radius: 6px;
  .p-menu {
    margin: 0 0 24px;
    border-radius: 0;
    border: none;
    // border-left: none;
    // border-right: none;
    // border-bottom: none;
  }
  .p-menuitem-link {
    justify-content: center;
  }
  .ant-affix {
    background-color: #fff;
  }
}
.layout-left-information {
  margin-top: 48px;
  .p-avatar {
    width: 6rem;
    height: 6rem;
  }
}

.layout-search {
  .p-inputtext {
    width: 100%;
  }
}

.layout-classification {
  max-height: 500px;
  overflow: auto;
}
